/* from right to left */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 15s linear infinite;
}

@media (max-width: 1280px) {
  @keyframes scroll-sm {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-140.86%);
    }
  }

  .animate-scroll {
    animation: scroll-sm 15s linear infinite;
  }
}

@media (max-width: 768px) {
  @keyframes scroll-sm {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-235.06%);
    }
  }

  .animate-scroll {
    animation: scroll-sm 15s linear infinite;
  }
}